@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold.eot");
    src: url("../fonts/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PFEncoreSansPro-Bold";
    src: url("../fonts/PFEncoreSansPro-Bold.eot");
    src: url("../fonts/PFEncoreSansPro-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PFEncoreSansPro-Bold.woff") format("woff"),
    url("../fonts/PFEncoreSansPro-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PFEncoreSansPro-Light";
    src: url("../fonts/PFEncoreSansPro-Light.eot");
    src: url("../fonts/PFEncoreSansPro-Light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PFEncoreSansPro-Light.woff") format("woff"),
    url("../fonts/PFEncoreSansPro-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PFEncoreSansPro-Medium";
    src: url("../fonts/PFEncoreSansPro-Medium.eot");
    src: url("../fonts/PFEncoreSansPro-Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PFEncoreSansPro-Medium.woff") format("woff"),
    url("../fonts/PFEncoreSansPro-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PFEncoreSansPro-Thin";
    src: url("../fonts/PFEncoreSansPro-Thin.eot");
    src: url("../fonts/PFEncoreSansPro-Thin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PFEncoreSansPro-Thin.woff") format("woff"),
    url("../fonts/PFEncoreSansPro-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}